*{
    background-color: white;
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    justify-items: center;
}
header{
    color: white;
    background-color: lightblue;
    width: 100vw;
    height: 10vh;
    font-size: xxx-large;
    align-items: center;
    justify-items: center;
    font-weight: 100;
    display: inline-grid;
}
.main{
    width: 40%;
    height: 175vh;
    background-color: lightblue;
    margin: 20px;
    border-radius: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    background-color: lightblue;
    width: 70%;
    gap: 30px;
    margin-left: 10%;
    margin-top: 25px;
}
.item{
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    width: 100%;
}
.keyword{
    margin-bottom: 5px;
}

.sub{
    margin-top:10vh ;
    margin-left: 70%;
    width: 27%;
    height: 8vh;
    border-radius: 6px;
    font-size: larger;
    background-color: #8dbbc7;
    color: white;
}
.box{
    padding: 5px;
    width: 80%;
}
/* @media only screen and  (max-width : 2560px) {
    .box{
        width: 500px;
    }
} 
@media only screen and  (max-width : 1440px){
    .box{
        width: 265px;
    }
} 
@media only screen and  (max-width :1024px) {
    .box{
        width: 187px;
    }
    .grid{
        margin-left: 25px;
    }
    .sub{
        margin-left: 18vw;
        width: 9vw;
    }
}  */
@media only screen and  (max-width : 855px){
    .box{
        width: 80%;
    }
    .grid{
        margin-left: 10%;
    }
    .main{
        width: 50%;
    }
    /* .sub{
        margin-left: 60%;
        width: 30%;
    } */
} 
@media only screen and  (max-width : 640px){
    .box{
        width: 90%;
    }
    header{
        font-size: xx-large;
    }
    .main{
        width: 70%;
    }
} 
@media only screen and  (max-width : 414px){
    header{
        font-size: x-large;
    }
    .main{
        width: 80%;
    }
    .box{
        width: 90%;
    }
} 
@media only screen and  (max-width : 369px){
    .box{
        width: 90%;
    }
    header{
        font-size: x-large;
    }
    .main{
        width: 85%;
    }
    .item{
        width: 110%;
    }
    .sub{
        width: 30%;
        margin-left: 65%;   
    }
}   